@font-face {
	font-family: Avenir;
	src: url('AvenirBold.otf');
}
body {
	
}
h1 {
	text-decoration: underline;
	text-decoration-color: blue;
	font-family: Avenir;
	display: inline;
}
h2 {
	font-family: Avenir;
}
p {
	font-family: Arial;
	display: inline;
}
.fa-spin {
	margin: 100px auto;
}
#title {
	/*height: 33vh;*/
}
#flag {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 60%;
	height: 210px;
}
#title h1 {
	font-size: 8vw;
}
#title span {
	font-family: Avenir;
	font-size: 16px;
	position: absolute;
	top: 17vw;
	margin-left: 12px;
}
#post {
	width: 70vw;
	margin: 80px auto;
}
#post h1 {
	font-size: 4vw;
	font-style: italic;
}
#post p {
	font-family: Arial;
	font-size: 1.5vw;
}
#content {
	margin: 40px;
}
button {
	font-family: Arial;
	color: white;
	border: 2px solid blue;
	width: 12vw;
	height: 2.5vh;
	font-size: 2vw;
}
#post span {
	background-color: white;
	color: blue;
	font-size: 1.5vw;
}
#post span:hover {
	background-color: #c7c7c7;
}
i {
	margin-left: 30px;
	font-family: Arial;
	color: #929191;
}
#post:after {
	margin-top: 50px;
	/*position: absolute;
	content: "___________________________________________________";
	color: blue;*/
}

@media screen and (max-width: 600px) {
    #title span {
		font-size: 8px;
		top: 17.5vw;
	}
	#post {
		margin: 20px auto;
	}
	#post h1 {
		font-size: 7vw;
	}
	#post p {
		font-size: 3vw;
	}
	img {
		width: 80%;
	}
	#content {
		margin: 0;
	}
	#flag {
		height: 60px;
	}
}